* {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: fontall;
	src: url("ArabotoNormal.ttf");


}

html, body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #742284;
	font-size: 16px;
}

body {
	color: #333;
	background-color: #742284;
	margin: 0;
	padding: 0;
	font-family: fontall, "Roboto", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #9f00cf;
	text-decoration: none;
	font-weight: 600;
}
a.beastam{
	color: #25a6da;
	text-decoration: none;
	font-weight: 600;
}
a:hover {
	text-decoration: none;
}

a:visited {
	color: #9f00cf;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

.divlogin {
	background-color: #742284;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.alertapadre {
	display: none;

}

.colortransparente {
	position: absolute;
	background-color: #00000061;
	height: 10%;
	top: 0;
	width: 100%;
	height: 100%;
}
.alertainicial {
	position: absolute;
	background-color: #ffffff;

	display: flex;
	flex-direction: column;
	width: 90vw;
	top: 71vw;
	left: 5vw;
	border-radius: .5vw;

}

.alertletrapri {
	text-align: left;
	color: #000;
	font-size: 5vw;
	margin-left: 6%;
	display: flex;
	align-items: center;
	font-weight: 600;
	height: 14vw;
}

.alertletra {
	text-align: left;
	display: flex;
	color: #000;
	font-size: 4.2vw;
	margin-left: 6%;
	height: 20vw;
	line-height: 5.4vw;
}

.h3olone{
	width: 38vw;
	color: rgb(36,192,181);
	font-size: 3.4vw;
	font-weight: 600;

}

.divquestion{
	background-color: #742284;
	border: 0;
	padding: 0;
	padding-top: 2.35vw;
	margin: 0;
	height: 5vw;
	width: 100%;
}

.imgquestion{
	height: 5vw;
	width: 5vw;
	float: right;
	margin-right: 4.72vw;
}

.divqrpri{
	width: 100%;
	padding-top: 18.2vw;
}

.divqrsec{
	width: 43.05vw;
	height: 43.05vw;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #fff;
	border-radius: 1.94vw;
	background-position: center;
	background-size: 37.2vw 37.2vw;
	background-repeat: no-repeat;
	background-image: url("qr.png");
}

h4 {
	color: rgb(208,160,218);
	font-size: 3.33vw;
	font-weight: normal;
	margin-top: 4vw;
}

h3 {
	color: rgb(233,206,241);
	font-size: 3.89vw;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.footer{
	height: 88.89vw;
	width: 100vw;
	position: fixed;
	left: 0;
	bottom: 0;
}

.divclave{
	margin: 0;
	height: 3.34vw;
	width: 100%;
}

.ulclave{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: 4.17vw;
}

.liclave{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin-right: 5vw;
	background-color: rgb(140,61,153);
	border-style: solid;
	border-color: #742284;
	border-width: 0.35vw;
	border-radius: 50%;
}

.liclave:last-child{
	margin-right: 0;
}

.liclaveu{
	padding: 0;
	margin: 0;
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin-right: 5vw;
	background-color: rgb(36,192,181);
	border-style: solid;
	border-color: rgb(36,192,181);
	border-width: 0.35vw;
	border-radius: 50%;
}

.liclaveu:last-child{
	margin-right: 0;
}

.divpadrow1{
	margin: 0;
	padding: 0;
	height: 11.10vw;
	margin-left: 0.8vw;
	margin-top: 9vw;
	width: 100vw;
	margin-bottom: 1.8vw;
}

.divpadrow2{
	margin: 0;
	padding: 0;
	height: 11.10vw;
	margin-left: 0.8vw;
	width: 100vw;
	margin-bottom: 1.8vw;
}

.pad{
	font-size: 4.16vw;
	font-weight: bold;
	color: rgb(255,255,255);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: rgb(140,61,153);
	border-radius: 1.94vw;
	border: 0;
}

.pad:active{
	background-color: #823291;
}

.pad:not(:disabled):active {
	background-color: #823291;
}

.padinv{
	color: rgb(233,206,241);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: #742284;
	border-radius: 1.94vw;
}

.pad p{
	width: 100vw;
	height: 11.10vw;
	font-size: 5.5vw;
	font-weight: 500;
    vertical-align: middle;
	text-align: center;
	display: table-cell;
}

.h3ol{
	margin-top: 6.8vw;
	color: rgb(36,192,181);
	font-weight: 600;
}

.imgback{
	height: 3.19vw;
	width: 4.02vw;
	display: table-cell;
	vertical-align: middle;
}

.padinvback{
	color: rgb(233,206,241);
	text-align: center;
	vertical-align: middle;
	align-content: center;
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 11.10vw;
	width: 27.78vw;
	margin-right: 1.4vw;
	background-color: #742284;
	border-radius: 1.94vw;
	background-image: url("back.svg");
	background-repeat: no-repeat;
	background-size: 4.52vw 3.69vw;
	background-position: center;
	border: 0;
}

.padinvback:active{
	background-color: #742284;
}

.padinvback:not(:disabled):active {
	background-color: #742284;
}

.divprincipal {
	background-color: #fff;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.divbienvenida{
	height: 10.33vw;
	background-color: #742284;
	display: flex;
	padding-left: 14.72vw;
	background-image: url("menu.svg");
	align-items: center ;
	background-repeat: no-repeat;
	background-position: 4% center;
	background-size: 4.44vw;
}

.h3bien{
	color: rgb(255,255,255);
	text-align: left;
	width: 75%;
}
.h3bien1{
	background-color: transparent;
	color: rgb(255,255,255);
	display: none;
	width: 20vw;
	background-position: 2.72vw center;
	font-weight: 500;
}


.divsaldo{
	background-color: #742284;
	display: flex;
	flex-direction: column;
	height: 27vw;
}

.divsaldobrother{
	display: flex;
	height: 22vw;
	overflow-x: auto;
}

.divsaldobrother::-webkit-scrollbar{
	width: 0;
	height: 0;
}

.circulos{
	width: 7px;
    height: 7px;
    margin: 0px 4px;
    background: #e593f4;
    border-radius: 30px;

}

.botonsaldo{
	width: 65vw;
	height: 17vw;
	font-size: 3.6vw;
	font-weight: 500;
	color:black;
	display:flex;
	margin-left: 3vw;
	margin-right: 3vw;
	align-items: center;
	background-color:rgb(255,255,255);
	border-radius: 1.94vw;
	border: 0;
}
.botonsaldobrother{
	width: 62vw;
	height: 17vw;
	font-size: 3.6vw;
	font-weight: 500;
	color:black;
	display:flex;
	margin-left: 3vw;
	margin-right: 3vw;
	align-items: center;
	background-color:rgb(255,255,255);
	border-radius: 1.94vw;
	border: 0;
}

.botonsaldo1{
	width: 90vw;
	height: 14.5vw;
	padding-left: 6%;
	font-size: 3.6vw;
	font-weight: 600;
	color: #742284;
	margin: 0;
	display: inline-flex;
	align-items: center;
	align-content: center;
	background-color: transparent;
	border-radius: 1.94vw;
	border: 0.3px solid rgba(238, 238, 238, 0.701);
	box-shadow: 0 0 5px rgba(238, 238, 238, 0.701);
}
.botonsaldo2{
	width: 90vw;
	height: 14.5vw;
	padding-left: 6%;
	font-size: 3.6vw;
	font-weight: 600;
	color: #742284;
	margin: 0;
	display: none;
	align-items: center;
	align-content: center;
	background-color: transparent;
	border-radius: 1.94vw;
	border: 0.3px solid rgba(238, 238, 238, 0.701);
	box-shadow: 0 0 5px rgba(238, 238, 238, 0.701);
}
.imagencamp{
	width: 5.86vw;
	margin-right: 3vw;
}

.imgojo1{
	width: 5.86vw;
	height: 4.47vw;
	background-image: url("eyeclose.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5.86vw 4.47vw;
	margin-right: 3vw;
	background-color: transparent;
}

.imgojo{
	width: 4.86vw;
	margin-right: 3vw;
	padding-right: 1%;
	height: 3.47vw;
	background-color: transparent;
}

.imgayud{
	margin-left: 5%;
	width: 4.86vw;
	height: 4.47vw;
	
}

.imgcamp{
	margin-left: 4%;
	width: 4.836vw;
	height: 4.47vw;

}

.divdonar{
	height: 20.78vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divdonarnombre{
	width: 50vw;
	height: 17.78vw;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding-left: 3.7vw;
	margin: 0 auto;
}

.divdonarnombrepri{
	width: 50vw;
	height: 17.78vw;
	display: block;
	float: left;
}

.h3donarnombre{
	color: rgb(34,45,65);
	margin-bottom: 1.5vw;
	font-size: 3.6vw;
	font-weight: 600;
}
.h3donarnombre1{
	color: rgb(34,45,65);
	font-size: 3.6vw;
	position: relative;
	padding-left: 28vw;
	font-weight: 600;
	background-color: transparent;
}

.h3donarlema{
	color: rgb(157,156,161);
	font-weight: 400;
	font-size: 3.6vw;
}


.divdonaricono{
	width: 19.44vw;
	height: 12.98vw;
	display: block;
	float: left;
	background-image: url(enseña_peru.svg);
	background-repeat: no-repeat;
	background-size: 15vw;
	background-position: center center;
}
.divdonariconochat{
	width: 14.94vw;
	height: 16.98vw;
	display: block;
	float: left;
	background-image: url(toritodeoro.png);
	background-repeat: no-repeat;
	background-size: 13vw;
	background-position: 1.6vw center;
}

.divdonariconocompras{
	width: 17.94vw;
	height: 16.98vw;
	display: block;
	float: left;
	background-image: url(Kfc_logo.svg);
	background-repeat: no-repeat;
	background-size: 10.5vw;
	background-position: center center;
}

.divdonariconoredes{
	width: 17.94vw;
	height: 16.98vw;
	display: block;
	float: left;
	background-image: url(yapea-servicios.svg);
	background-repeat: no-repeat;
	background-size: 13vw;
	background-position: center center;
}

.divdonariconoplus{
	width: 17.94vw;
	height: 16.98vw;
	display: block;
	float: left;
	background-image: url(paga-online.svg);
	background-repeat: no-repeat;
	background-size: 15vw;
	background-position: left;
}
.divdonariconolast{
	width: 17.94vw;
	height: 16.98vw;
	display: block;
	float: left;
	background-image: url(recarga-cel.svg);
	background-repeat: no-repeat;
	background-size: 13vw;
	background-position: center center;
}
.divdonarboton{
	height: 17.78vw;
	float: right;
	align-items: center;
	display: flex;
	margin: auto auto;
}


.divmovi{
	height: 13.89vw;
	background-color: #fff;
	padding: 0 4.72vw;
	width: 90.56vw;
}

.divulti{
	height: 13.89vw;
	display: flex;
	float: left;
	align-items: center;
}

.divvertodo{
	height: 13.89vw;
	display: flex;
	float: right;
	align-items: center;
}

.h3ulti{
	font-size: 3.6vw;
	color: #742284;
	font-weight: 600;
}

.h3vertodo{
	font-size: 3.6vw;
	color: rgb(36,192,181);
	font-weight: 600;
}

.divprifooter{
	height: 18.89vw;
	background-color: #fff;
	padding: 0 4.72vw;
	width: 90.56vw;
	position: fixed;
	bottom: 0;
	left: 0;
}

.divesca{
	display: flex;
	float: left;
	align-items: center;
	width: 45.28vw;
	height: 18.89vw;
}

.divyapear{
	display: flex;
	float: right;
	justify-content: right;
	align-items: center;
	width: 45.28vw;
	height: 18.89vw;
}

.botonesca{
	width: 43vw;
	padding: 3.3vw;
	font-size: 3.7vw;
	font-weight: 600;
	color: rgb(36,192,181);
	margin: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: rgb(255,255,255);
	border-radius: 1.94vw;
	box-sizing: border-box;
	border: 0.5vw solid rgb(36,192,181);
}

.botonesca:active{
	background-color: rgb(245,255,254);
}

.botonesca:not(:disabled):active {
	background-color: rgb(245,255,254);
}

.imgqr{
	width: 4.44vw;
	margin-right: 3vw;
	height: 4.44vw;
}

.botonyapear{
	width: 43vw;
	padding: 3.3vw 0;
	font-size: 4vw;
	font-weight: 400;
	color: rgb(255,255,255);
	margin: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: rgb(36,192,181);
	border-radius: 1.94vw;
	box-sizing: border-box;
	border: 0.5vw solid rgb(36,192,181);
}

.botonyapear:active{
	background-color: rgb(0,166,146);
	border: 0.5vw solid rgb(0,166,146);
}

.botonyapear:not(:disabled):active {
	background-color: rgb(0,166,146);
	border: 0.5vw solid rgb(0,166,146);
}

.imgflecha{
	width: 4.44vw;
	margin-right: 3vw;
	height: 4.44vw;
}

.divprilista{
	box-sizing: border-box;
	height: calc(93vh - 8.33vw - 19.44vw - 17.78vw - 13.89vw - 18.89vw);
	background-color: #fff;
	margin-left: 4.72vw;
	width: 95.28vw;
	overflow-y: scroll;
	border-top: 0.5px solid rgb(230,230,230);
}

.divitem{
	height: 17.5vw;
	width: 95.28vw;
	border-bottom: 0.5px solid rgb(230,230,230);
}

.divdes{
	height: 17.5vw;
	width: 64vw;
	display: flex;
	float: left;
	align-items: center;
}

.divdes1{
	width: 64vw;
	text-align: left;
	vertical-align: middle;
}

.divmonto{
	height: 17.5vw;
	width: 26.56vw;
	display: flex;
	float: right;
	align-items:center;
	text-align: right;
	justify-content: right;
	margin-right: 4.72vw;

}

.h3nombre{
	font-size: 3.6vw;
	color: rgb(34,45,65);
	margin-bottom: 0.8vw;
	font-weight: 600;
}

.h3fecha{
	font-size: 3.6vw;
	color: rgb(157,156,161);
	font-weight: 400;
}

.h3montone{
	font-size: 3.6vw;
	float: right;
	color: rgb(176,18,76);
	font-weight: 600;
}

.h3monto{
	font-size: 3.6vw;
	float: right;
	color: rgb(34,45,65);
	font-weight: 600;
}

.divcamara{
  	align-items: center;
	justify-content: center;
	display: block;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
}

.preview{
	width: 100vw;
	height: 100vh;
}

.divcamaratexto{
	text-align: left;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.divcamaratexto h3{
	font-size: 3.8vw;
	font-weight: 400;
	color: #fff;
	z-index: 11;
}

.divcamaraover{
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	min-height: 100vh;
	object-fit: cover;
	text-align: left;
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}

.divlinea{
	display: block;
	position: fixed;
	top: 50%;
	left: calc(19vw);
	width: 62vw;
	height: 2px;
	background-color: rgb(161, 31, 31);;
	--animate-duration: 1.5s;
}

.divyapearmain{
	background-color: #fff;
	overflow: hidden;
	display: block;
	border: 0;
	border-top-left-radius: 2.1vw;
	border-top-right-radius: 2.1vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

.divyapeartop{
	margin-top: 4.86vw;
	padding-left: 5.97vw;
	padding-right: 5.97vw;
	height: 17.5vw;
	display: block;
	width: 88.06vw;
	float: left;
}

.divyapeariz{
	display: block;
	float: left;
	width: 4.72vw;
	height: 4.72vw;
}

.botonatrasya{
	width: 4.72vw;
	height: 4.72vw;
	color: rgb(255,255,255);
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgb(255,255,255);
	background-image: url("atras.svg");
	background-repeat: no-repeat;
	background-size: 3.48vw 4.72vw;
	background-position: 0 0;
	box-sizing: border-box;
}

.botonatrasya:active{
	background-color: rgb(255,255,255);
}

.botonatrasya:not(:disabled):active {
	background-color: rgb(255,255,255);
}

.divyapearme{
	display: block;
	float: left;
	height: 4.72vw;
	width: 78.62vw;
}

.divyapearme h3{
	height: 4.72vw;
	width: 78.62vw;
	color: rgb(33,46,65);
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	align-items: center;
	font-weight: 600;
}

.divyapearde{
	display: block;
	float: right;
	height: 4.72vw;
	width: 4.72vw;
}
.divyapearde1{
	display: block;
	float: left;
	height: 4.72vw;
	width: 4.72vw;
}

.botonequisya{
	width: 4.72vw;
	height: 4.72vw;
	color: rgb(255,255,255);
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgb(255,255,255);
	background-image: url("equis.svg");
	background-repeat: no-repeat;
	background-size: 4.72vw 4.72vw;
	box-sizing: border-box;
}

.botonequisya:active{
	background-color: rgb(255,255,255);
}

.botonequisya:not(:disabled):active {
	background-color: rgb(255,255,255);
}
.botonequisya1{
	width: 9.72vw;
	height: 4.72vw;
	margin: 0;
	border: 0;
	position: absolute;
	padding-bottom: 16vw;
	background-position: 2vw center;
	background-color: transparent;
	background-image: url("equis1.svg");
	background-repeat: no-repeat;
	background-size: 4.72vw 4.72vw;
	box-sizing: border-box;
}
.botonequisya1:active{
	background-color: transparent;
}

.botonequisya1:not(:disabled):active {
	background-color: transparent;
}

.divnombreyapear{
	margin-top: 8.61vw;
	display: block;
	float: left;
	text-align: center;
	width: 100%;
	height: 4.17vw;
}
.divnombreyapear1{
	margin-top: 10.61vw;
	display: block;
	background-color: transparent;
	float: left;
	width: 100%;
	height: 4.17vw;
}

.nombreyapear{
	text-align: center;
	margin: 0;
	padding: 0;
	color: rgb(116,34,132);
	font-weight:600;
	font-size: 120%;
	width: 100%;
}

.nombreyapear1{
	text-align: center;
	margin: 0;
	padding: 0;
	color: gray;
	font-weight:600;
	font-size: 3.5vw;
	width: 40vw;
}

.divyapearmedio{
	vertical-align: middle;
	align-content: center;
	display: table-cell;
	position: relative;
	height: calc(100vh - 49.44vw);
	box-sizing: border-box;
	width: 100vw;
}
.divyapearmedio1{
	vertical-align: middle;
	align-content: center;
	display: table-cell;
	position: relative;
	height: calc(100vh - 79.44vw);
	box-sizing: border-box;
	width: 100vw;
}

.divyapeardown{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 31vw;
	padding-left: 5.97vw;
	padding-right: 5.97vw;
	box-sizing: border-box;
}

.inputdesc{
	width: 88.06vw;
	height: 12vw;
	color: rgb(39,45,59);
	text-align: center;
	font-size: 3.89vw;
	font-weight: 500;
	padding: 0;
	margin: 0;
	outline: 0;
	border-bottom: 0.6vw solid rgb(209,209,209);
}

.inputdesc::placeholder{
	color: rgb(170,170,170);
	font-size: 3.89vw;
	font-weight: 500;
}

.inputdesc:focus{
	outline: 0;
	border: 0;
	border-bottom: 0.6vw solid rgb(176, 78, 206);
}

.inputdesc:active{
	outline: 0;
	border: 0;
	border-bottom: 0.6vw solid rgb(193,166,201);
}
.botonespagar{
	height: 20vw;
	background-color: #fff;
	width: 90.56vw;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 4.72vw;
}
.divbotonotrosbancos{
	display: flex;
	float: left;
	align-items: center;
	width: 45.28vw;
}

.divbotonyapearya{
	display: flex;
	float: right;
	justify-content: right;
	align-items: center;
	width: 45.28vw;
}
.botonotrosbancos{
	padding-top: 2.7vw;
	padding-bottom: 3vw;
	font-size: 4vw;
	font-weight: 500;
	width: 44.03vw;
	color: rgb(36,192,181);
	margin-top: 3.6vw;
	display: flex;
	background-color: rgb(255,255,255);
	border-radius: 1.94vw;
	border: 0.5vw solid rgb(36,192,181);
	float: left;
	align-items: center;
	justify-content: center;
}

.botonotrosbancos:disabled{
	background-color: rgb(255, 255, 255);
	border-radius: 1.94vw;
	color: rgb(209,209,209);
	box-sizing: border-box;
	border: 0.5vw solid rgb(209,209,209);
}

.botonotrosbancos:active{
	background-color: rgb(255,255,255);
}

.botonotrosbancos:not(:disabled):active {
	background-color: rgb(255,255,255);
}
.botonyapearya{
	padding-top: 3.44vw;
	padding-bottom: 3.44vw;
	font-size: 4vw;
	font-weight: 500;
	width: 88.06vw;
	color: rgb(255,255,255);
	margin-top: 3.6vw;
	display: block;
	background-color: rgb(36,192,181);
	border-radius: 1.94vw;
	border: 0;
}

.botonyapearya:disabled{
	background-color: rgb(235,235,235);
	color: rgb(209,209,209);
	border-radius: 1.94vw;
	box-sizing: border-box;
	border: 0.5vw solid rgb(235,235,235);
}

.botonyapearya:active{
	background-color: rgb(0,166,146);
}

.botonyapearya:not(:disabled):active {
	background-color: rgb(0,166,146);
}

.inputmonto{
	width: 10.6vw;
	height: 18.5vw;
	color: rgb(114,32,130);
	text-align: left;
	font-size: 19.44vw;
	font-weight: 400;
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}

.inputmonto::-webkit-outer-spin-button,
.inputmonto::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.inputmonto::placeholder{
	color: rgb(114,32,130);
	font-size: 19.44vw;
	font-weight: 400;
}

.inputmonto:focus{
	outline: 0;
	border: 0;
}

.inputmonto:active{
	outline: 0;
	border: 0;
}
.Cuadroyapebancos{
	background-color: rgb(255, 255, 255);
	color: rgb(209,209,209);
	border-radius: 1.94vw;
	box-sizing: border-box;
	border: 0.5vw solid rgb(235,235,235);
	margin: 4vw;
	margin-top: 15vw;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: left;
	box-shadow: 0 0 5px rgba(238, 238, 238, 0.701);
}
.logoyapedestin{
	width: 10vw;
	height: 10vw;
	background-color: #9f00cf;
	background-image: url('LogoYape.svg');
	background-repeat: no-repeat;
	background-size: 6vw;
	background-position: center;
	border-radius: 100px;
	margin-left: 2vw;
}
.yapetexto{
	font-size: 4.2vw;
	width: 13.88vw;
	font-weight: 600;
	color: black;
}
.spanmonto{
	font-size: 7.63vw;
	height: 13.88vw;
	font-weight: 600;
	color: rgb(199,167,206);
	vertical-align: 8vw;
}

.puedesyapear{
	color: rgb(109,109,109);
	width: 53.19vw;
	height: 6.2vw;
	padding-top: 1vw;
	margin-top: 6.38vw;
	margin-left: 23.405vw;
	background-color: rgb(248,248,252);
	font-size: 3.25vw;
	border-radius: 2.92vw;
}

.divyapeadomain{
	background: linear-gradient(to bottom, rgb(74,25,114), rgb(116,34,132) 25%);
	overflow: hidden;
	display: block;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}
.divyapeadomain1{
	background-image: url("Animacion.gif");
	background-color: transparent;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.divyapeadomain2{
	background-image: url("LogoYape.svg");
	background-color: transparent;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size:15vw 19vw;
	height: 35vw;
	width: 100%;
}

.divdegrado{
	background: linear-gradient(to bottom, rgb(74,25,114), rgb(116,34,132) 40%);
}

.divyapeadotop{
	width: 100vw;
	height: 36.82vw;
	display: block;
}

.divyapeadotopcell{
	display: block;
	height: 18.75vw;
	padding-top: 9.07vw;
}

.divyapeadomedio{
	width: 70.14vw;
	margin-left: 14.93vw;
	border-top: 1vw solid transparent;
	border-bottom: 1vw solid transparent;
	border-image-source: url(border.png);
	border-image-slice: 33.33%;
	border-image-width:1.8vw;
	border-image-repeat: round;
}

.divyapeadomediotop{
	height: 0.93vw;
	background-image: url("triar.svg");;
	background-size: 2.40vw 1vw;
	background-repeat: repeat-x;
	background-position: center top;
}

.divyapeadomediomedio{
	background-color: #fff;
}

.divyapeadomediodown{
	height: 45.00vw;
	display: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 5vw;
	margin-top: 2vw;

}

.divrenueva {
	width: 70.14vw;
	height: 40vw;
	background-color: #fff;
	border-radius: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fatherrenueva {
	width: 55%;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.renuevaletra {
	margin-left: 3vw;
	color: #742284;
	font-size: 3.9vw;
	font-weight: 600;
	margin-bottom: 2vw;
}

.renuevadescripcion {
	color: rgb(34,45,65);
	font-size: 3.4vw;
	font-weight: 400;
	line-height: 6vw;
	margin-left: 3vw;
}

.conoceletra {
	margin-top: 2vw;
	margin-left: 3vw;
	font-size: 3.9vw;
	font-weight: 400;
    color: rgb(36,192,181);
}

.logo-flecha {
	width: 4vw;
	margin-left: 2.8vw;
}

.renuevaimagen {
	background-image: url(Yape-PROMOS.svg);
	width: 45%;
	height: 100%;
	background-size: 30vw;
	background-repeat: no-repeat;
	background-position: 3.0vw center;
}
.letrayapeaste{
	padding-top: 7.72vw;
	font-size: 5.4vw;
	color: rgb(114,32,130);
	font-weight: 600;
}

.montodiv{
	padding-top: 5.90vw;
	padding-bottom: 6.5vw;
}

.spanmontoya{
	font-size: 5.83vw;
	height: 13.88vw;
	font-weight: 600;
	color: rgb(199,167,206);
	vertical-align: 6.3vw;

}

.inputmontoya{
	width: 10.6vw;
	height: 14.88vw;
	color: rgb(114,32,130);
	text-align: left;
	font-size: 13.91vw;
	font-weight: 500;
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}

.letrasnombre{
	font-size: 4.86vw;
	padding-left: 4.72vw;
	padding-right: 4.72vw;
	font-weight: 500;
	color: rgb(33,46,65);
	border: 0;
	margin: 0;
	padding-bottom: 1.3vw;
}

.letrasnombre1{
	font-size: 4.86vw;
	padding-left: 4.72vw;
	padding-right: 4.72vw;
	font-weight: 600;
	color: rgb(33,46,65);
	border: 0;
	margin: 0;
	padding-bottom: 2.3vw;
}
.letrasfecha{
	font-size: 3.19vw;
	color: rgb(109,109,109);
	padding-bottom: 12.5vw;
	font-weight: 400;
}

.letrasfecha1{
	font-size: 3.5vw;
	color: rgb(109,109,109);
	padding-bottom: 7vw;
	font-weight: 500;
}

.letrasnumero{
	font-size: 3.39vw;
	color: #6d6d6d;
	padding: 2vw 2vw;
	font-weight: 500;
	letter-spacing: 0.1pt;
	border-bottom: 0.3vw solid rgb(240,240,240);
	border-top: 0.3vw solid rgb(240,240,240);
}
.letrasoperación{
	font-size: 3.39vw;
	color: #6d6d6d;
	padding: 2vw 2vw;
	font-weight: 400;
	letter-spacing: 0.1pt;
	border-bottom: 0.3vw solid rgb(240,240,240);
	border-top: 0.3vw solid rgb(240,240,240);
}
.letrasdescri{
	font-size: 3.19vw;
	padding: 3.47vw 4.72vw;
	color: rgb(33,46,65);
	font-weight: 400;
	border-top: 0.3vw solid rgb(240,240,240);
	border-bottom: 0.3vw solid rgb(240,240,240);
}

.divletrasdes{
	padding-bottom: 7.05vw;
}

.divyapeadoabajo {
	display: flex;
	justify-content: center;

}

.latbot1{
	width: 31%;
	float: left;
	color: transparent;
}
.mediobot{
	width: 20.09vw;
	float: left;
	display: table-cell;
}
.mediobot1{
	width: 20.09vw;
	display: table-cell;
	float: left;

}
.mediobot2{
	width: 20.09vw;
	display: table-cell;
	float: left;

}

.botoncompartir{
	width: 12.2vw;
	height: 12.2vw;
	color: rgb(255,255,255);
	background-color: rgb(140,61,153);
	border-radius: 2.77vw;
	border: 0;
	background-image: url("comp.svg");
	background-repeat: none;
	background-position: center center;
	position: relative;
	background-size: 12.2vw 12.2vw;
}

.botoncompartir:active{
	background-color: rgb(147, 85, 156);
}

.botoncompartir:not(:disabled):active {
	background-color: rgb(147, 85, 156);
}

.botoninicioya{
	width: 12.2vw;
	height: 12.2vw;
	color: rgb(255,255,255);
	background-color: rgb(140,61,153);
	border-radius: 2.77vw;
	border: 0;
	background-image: url("inicio.svg");
	background-repeat: none;
	background-position: center center;
	position: relative;
	background-size: 12.2vw 12.2vw;
}

.botoninicioya:active{
	background-color: rgb(147, 85, 156);
}

.botoninicioya:not(:disabled):active {
	background-color: rgb(147, 85, 156);
}

.botonyapearte{
	width: 12.2vw;
	height: 12.2vw;
	color: rgb(255,255,255);
	background-color: rgb(15, 203, 179);
	border-radius: 2.77vw;
	border: 0;
	background-image: url("yape-logo-promo.svg");
	background-repeat: none;
	background-position: center center;
	position:relative;
	background-size: 23.4vw;
}

.botonyapearte:active{
	background-color: rgb(0,166,146);
}

.botonyapearte:not(:disabled):active {
	background-color: rgb(0,166,146);
}

.botonyapearte1{
	width: 12.2vw;
	height: 12.2vw;
	color: rgb(255,255,255);
	background-color: rgb(15, 203, 179);
	border-radius: 2.77vw;
	border: 0;
	background-image: url("yape.svg");
	background-repeat: none;
	background-position: center center;
	position:relative;
	background-size: 12.2vw 12.2vw;
}

.botonyapearte1:active{
	background-color: rgb(0,166,146);
}

.botonyapearte1:not(:disabled):active {
	background-color: rgb(0,166,146);
}

.textoabajoboton{
	color: #fff;
	padding-top: 2.2vw;
	font-size: 3vw;
	font-weight: 500;
}
